* {
  padding: 0;
  margin: 0;
}
/* banner section start */
/* banner section end */
/* immediate section start */
/* .col-lg-4{
    bg-warning-subtle
  
    background-color: #FDEDE8;
} */
/* immediate section end */
/* img{
    width:40%;
    height: auto;
} */
